//
// Nexsense styles
// --------------------------------------------------
.main {
	min-width: 320px;
	max-width: 1280px;
	margin: 0 auto;
	background: $white;
	overflow: hidden;
	@include box-shadow(0 0 20px 0 rgba(0,0,0,0.25));
	&.active-menu {
		position: absolute;
		top: 0;
		left: 200px;
	}
}
.global-header {
	background: $white;
	height: 60px;
	border-bottom: 4px solid $brand-secondary;
	position: relative;
	overflow: hidden;
	.hamburger-menu {
		color: $gray;
		font-size: 22px;
		width: 50px;
		position: absolute;
		padding: 0;
		top: 12px;
		left: 10px;
	}
	.logo {
		width: 200px;
		height: 30px;
		position: absolute;
		top: 16px;
		left: 74px;
		background: url('../images/nexsense-logo.png') no-repeat center center;
		background-size: 200px 30px;
		display: block;
	}
	.top-navigation {
		display: none;
	}
}
@media (min-width: $screen-md-min) {
	.global-header {
		height: 98px;
		padding: 15px 0;
		border-bottom: 8px solid $brand-secondary;
		.logo {
			width: 265px;
			height: 40px;
			position: absolute;
			top: 30px;
			left: 24px;
			background-size: 265px 40px;
		}
		.top-navigation {
			position: absolute;
			right: 24px;
			text-align: right;
			display: block;
			ul {
				text-transform: uppercase;
				padding: 0;
				margin: 16px 0 0 0;
			}
			li {
				list-style: none;
				display: inline-block;
				font-family: $font-family-secondary;
				font-size: 12px;
				line-height: 2;
				margin-left: 20px;
				&.current {
					border-top: 2px solid $brand-secondary;
					a {
						color: $brand-primary;
					}
				}
				a {
					color: $gray;
				}
			}
			.contact-us {
				font-size: 14px;
			}
			.btn {
				font-size: 10px;
				padding: 2px 8px 4px 8px;
				i {
					top: 3px;
					width: 12px;
					height: 14px;
					background-size: 12px 42px;
				}
				&:hover {
					i {
						background-position: 0 -14px;
					}
				}
			}
		}
	}
}
.hero-slider {
	height: 620px;
	background: url('../images/cta-purple-bg.png') no-repeat center center;
	color: $white;
	position: relative;
	.copy-inner {
		padding-top: 140px;
		h2 {
			font-size: 48px;
			font-family: $font-family-secondary;
			text-transform: lowercase;
			color: $brand-secondary;
		}
		p {
			margin-top: 20px;
			font-size: 24px;
		}
	}
	.product-inner {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.hero-controls {
		bottom: 20px;
		width: 100%;
		position: absolute;
		.dots {
			width: 210px;
			height: 14px;
			margin: 0 auto;
			.dot {
				width: 50px;
				height: 14px;
				background: url('../images/hero-control-sprite.png') no-repeat;
				background-position: -50px 0;
				margin: 0 10px;
				display: block;
				float: left;
				cursor: pointer;
				&.active {
					background-position: 0 0;
				}
			}
		}
	}
	.slide-0 {
		.copy-inner {
			padding-top: 180px;
		}
	}
}
/*
@media (min-width: $screen-md-min) {
	.hero-slider {
		.copy {
			.copy-inner {
				margin-top: 150px;
				h2 {
					font-size: 64px;
				}
				p {
					font-size: 24px;
				}
			}
		}
		.product-inner {
			padding-top: 40px;
			padding-bottom: 40px;
		}
	}
}*/
.hero-mini {
	height: 200px;
	background: url('../images/hero-mini-house.png') no-repeat center right;
}
.global-footer {
	padding-top: 60px;
	padding-bottom: 60px;
	background: $gray-lightest;
	.top-line {
		border-bottom: 1px solid $gray-light;
		margin-bottom: 2em;
	}
	.sub-section {
		margin-bottom: 2em;
	}
	.heading {
		text-transform: uppercase;
		padding-bottom: 0.5em;
		margin-bottom: 1em;
		border-bottom: 1px solid $gray-light;
		display: block;
	}
	.sub-heading {
		text-transform: uppercase;
		display: block;
		margin-top: 1em;
	}
	.pages {

	}
	.contact, 
	.about {
		li {
			font-size: 14px;
		}
		p {
			font-size: 14px;
		}
	}
	.copyright {
		font-size: 14px;
		margin-top: 2em;
		padding-top: 1em;
		border-top: 1px solid $gray-light;
	}
	ul {
		padding-left: 1em;
	}
}
.corner-stripes {
	background: url('../images/corner-stripes.png') no-repeat top left;
	background-size: 100px 100px;
}
.corner-stripes-small {
	background: url('../images/corner-stripes.png') no-repeat top left;
	background-size: 80px 80px;
}
h1 {
	color: $gray-light;
}
j {
	width: 35px;
	height: 35px;
	background: url('../images/caret-collapse.png') no-repeat 0 -40px;
	display: inline-block;
	vertical-align: -8px;
	&.active {
		background-position: 0 0;
	}
}