//
// Application Frame
// --------------------------------------------------
.main {
	max-width: 1280px;
	margin: 0 auto;
	background: $white;
	overflow: hidden;
	@include box-shadow(0 0 20px 0 rgba(0,0,0,0.25));
}
.global-header {
	background: $white;
	width: 100%;
	height: 98px;
	padding: 20px 0 15px 0;
	border-bottom: 8px solid $brand-secondary;
	overflow: hidden;
	position: fixed;
	z-index: 10;
	.logo {
		margin-top: 10px;
		width: 265px;
		height: 40px;
		background: url('../images/nexsense-logo.png') no-repeat center center;
		display: block;
	}
	.contact-us {

	}
	.top-navigation {
		text-align: right;
		ul {
			text-transform: uppercase;
			padding: 0;
			margin: 20px 0 0 0;
		}
		li {
			list-style: none;
			display: inline-block;
			font-family: $font-family-secondary;
			font-size: 12px;
			margin-left: 40px;
			a {
				color: $gray;
			}
		}
	}
}
.hero-slider {
	height: 620px;
	margin-top: 98px;
	background: url('../images/cta-purple-bg.png') no-repeat center center;
	color: $white;
	.copy {
		.copy-inner {
			margin-top: 60px;
			h2 {
				font-size: 48px;
				font-family: $font-family-secondary;
				text-transform: lowercase;
				color: $brand-secondary;
			}
			p {
				font-size: 18px;
			}
		}
	}
	.product {
		* {
			position: absolute;
		}
		.product-circle {
			width: 255px;
			height: 255px;
			background: url('../images/cta-product.png') no-repeat center center;
			background-size: 255px 255px;
			bottom: 30px;
			left: 30px;
		}
		.learn-more-circle {
			width: 120px;
			height: 120px;
			position: absolute;
			bottom: -25px;
			left: -15px;
		}
		.logo-icon-circle {
			width: 50px;
			height: 50px;
			position: absolute;
			top: 20px;
			right: 5px;
		}
	}
}
<<<<<<< HEAD

@media (min-width: $screen-md-min) {
=======
@media (max-width: 400px) {
>>>>>>> FETCH_HEAD
	.hero-slider {
		.copy {
			.copy-inner {
				margin-top: 150px;
				h2 {
					font-size: 64px;
				}
				p {
					font-size: 24px;
				}
			}
		}
		.product {
			.product-circle {
				width: 510px;
				height: 510px;
				background-size: 510px 510px;
				top: 55px;
				left: 0;
			}
			.learn-more-circle {
				width: 160px;
				height: 160px;
				bottom: -5px;
				left: 15px;
			}
			.logo-icon-circle {
				width: 85px;
				height: 85px;
				top: 45px;
				right: 30px;
			}
		}
	}
}
.primary-section {
	h2 {
		font-size: 36px;
		text-transform: lowercase;
		color: $brand-primary;
	}
	p {
		font-size: 20px;
	}
	span {
		font-size: 12px;
		text-transform: uppercase;
		font-family: $font-family-secondary;
		color: $brand-primary;
		position: relative;
		padding-right: 30px;
		&:after {
			content: "";
			width: 18px;
			height: 20px;
			top: -3px;
			right: 10px;
			position: absolute;
			display: inline-block;
			background: url('../images/caret-purple.png') no-repeat center right;
		}
	}
	a {
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		&:hover {
			background-color: rgba(0, 0, 0, 0.05);
		}
	}
	.inner {
		padding-top: 60px;
		padding-bottom: 100px;
	}
	.built-to-fit {
		background: url('../images/floorplan-bg.png') no-repeat bottom right;
		border-bottom: 1px solid $gray-lighter;

	}
	.need-help {
		background: url('../images/tool-bubble-bg.png') no-repeat bottom right;
		border-top: 1px solid $gray-lighter;

	}
}
@media (min-width: $screen-md-min) {
	.primary-section {
		.built-to-fit {
			border-right: 1px solid $gray-lighter;
			border-bottom: none;
		}
		.need-help {
			border-top: none;
			border-left: 1px solid $gray-lighter;
		}
	}
}
.secondary-section {
	color: $brand-primary;
	h2 {
		font-size: 24px;
		text-transform: lowercase;
	}
	span {
		font-size: 12px;
		text-transform: uppercase;
		font-family: $font-family-secondary;
		position: relative;
		padding-right: 30px;
		&:after {
			content: "";
			width: 18px;
			height: 20px;
			top: -3px;
			right: 10px;
			position: absolute;
			display: inline-block;
			background: url('../images/caret-purple.png') no-repeat center right;
		}
	}
	a {
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		&:hover {
			background-color: rgba(0, 0, 0, 0.05);
		}
	}
	.inner {
		padding-top: 50px;
		padding-bottom: 60px;
	}
	.how-we-help {
		border-top: 2px solid $gray-lighter;
		border-bottom: 2px solid $gray-lighter;
	}
}
@media (min-width: $screen-md-min) {
	.secondary-section {
		.how-we-compare {
			border-right: 1px solid $gray-lighter;
		}
		.how-we-help {
			border-top: none;
			border-left: 1px solid $gray-lighter;
			border-bottom: none;
			border-right: 1px solid $gray-lighter;
		}
		.explore-our-system {
			border-left: 1px solid $gray-lighter;
		}
	}
}
.parallax {
	border-top: 8px solid $brand-secondary;
	height: 203px;
	h2 {
		font-family: $font-family-base;
		font-size: 32px;
		color: $white;
		text-shadow: 0 0 5px rgba(0,0,0,0.5);
	}
	.inner {
		padding-top: 60px;
	}
	&.parallax-swing {
		background: url('../images/swing-parallax.png') no-repeat bottom right;
	}
	&.parallax-house {
		background: url('../images/house-parallax.png') no-repeat bottom right;
	}
}
.global-footer {
	padding: 60px;
}