.primary-section {
	h2 {
		font-size: 36px;
		text-transform: lowercase;
		color: $brand-primary;
	}
	p {
		font-size: 20px;
	}
	span {
		font-size: 12px;
		text-transform: uppercase;
		font-family: $font-family-secondary;
		color: $brand-primary;
		position: relative;
		padding-right: 30px;
		&:after {
			content: "";
			width: 18px;
			height: 20px;
			top: -3px;
			right: 10px;
			position: absolute;
			display: inline-block;
			background: url('../images/caret-purple.png') no-repeat center right;
		}
	}
	a {
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		&:hover {
			background-color: rgba(0, 0, 0, 0.05);
		}
	}
	.inner {
		height: 320px;
		padding-top: 50px;
	}
	.built-to-fit {
		background: url('../images/floorplan-bg.png') no-repeat bottom right;
		border-bottom: 1px solid $gray-lighter;

	}
	.need-help {
		background: url('../images/tool-bubble-bg.png') no-repeat bottom right;
		border-top: 1px solid $gray-lighter;

	}
}
@media (min-width: $screen-md-min) {
	.primary-section {
		.built-to-fit {
			border-right: 1px solid $gray-lighter;
			border-bottom: none;
		}
		.need-help {
			border-top: none;
			border-left: 1px solid $gray-lighter;
		}
	}
}
.secondary-section {
	h2 {
		font-size: 24px;
		text-transform: lowercase;
		color: $brand-primary;
	}
	span {
		font-size: 12px;
		text-transform: uppercase;
		font-family: $font-family-secondary;
		color: $brand-primary;
		position: relative;
		padding-right: 30px;
		&:after {
			content: "";
			width: 18px;
			height: 20px;
			top: -3px;
			right: 10px;
			position: absolute;
			display: inline-block;
			background: url('../images/caret-purple.png') no-repeat center right;
		}
	}
	a {
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		&:hover {
			background-color: rgba(0, 0, 0, 0.05);
		}
	}
	.inner {
		padding-top: 50px;
		padding-bottom: 60px;
	}
	.how-we-help {
		border-top: 2px solid $gray-lighter;
		border-bottom: 2px solid $gray-lighter;
	}
}
@media (min-width: $screen-md-min) {
	.secondary-section {
		.how-we-compare {
			border-right: 1px solid $gray-lighter;
		}
		.how-we-help {
			border-top: none;
			border-left: 1px solid $gray-lighter;
			border-bottom: none;
			border-right: 1px solid $gray-lighter;
		}
		.explore-our-system {
			border-left: 1px solid $gray-lighter;
		}
	}
}
.parallax {
	border-top: 8px solid $brand-secondary;
	height: 200px;
	h4 {
		font-family: $font-family-base;
		font-size: 30px;
		color: $white;
		text-shadow: 0 0 5px rgba(0,0,0,0.5);
	}
	.inner {
		padding-top: 40px;
	}
	&.parallax-swing {
		background: url('../images/swing-parallax.png') no-repeat bottom right;
	}
	&.parallax-house {
		background: url('../images/house-parallax.png') no-repeat bottom right;
	}
}
@media (min-width: $screen-md-min) {
	.parallax {
		.inner {
			padding-top: 70px;
		}
	}
}