.nexsense-system {
	h2 {
		font-size: 30px;
		color: $brand-primary;
	}
	p {
		font-size: 18px;
	}
	span {
		font-size: 12px;
		text-transform: uppercase;
		font-family: $font-family-secondary;
		color: $brand-primary;
		position: relative;
		padding-right: 30px;
		&:after {
			content: "";
			width: 18px;
			height: 20px;
			top: -3px;
			right: 10px;
			position: absolute;
			display: inline-block;
			background: url('../images/caret-purple.png') no-repeat center right;
		}
	}
	.more-than-an-alarm {
		border-bottom: 1px solid $gray-light;
		h1 {
			font-size: 48px;
			color: $gray;
			margin-bottom: 0;
		}
		.inner {
			padding-top: 40px;
			padding-bottom: 40px;
		}
	}
	.protects-your-family-image {
		height: 405px;
		background: url('../images/little-girl-at-window.png') no-repeat center center;
	}
	.your-life-doesnt-image {
		height: 405px;
		background: url('../images/smart-phone-nexsense.png') no-repeat center center;
	}
	.now-youre-ready-image {
		height: 405px;
		background: url('../images/little-girl-at-window.png') no-repeat center center;
	}
	.inner {
		padding-top: 80px;
		padding-bottom: 80px;
	}
}