div.content {
	margin-bottom: 60px;
}
div.purple {
	background-image: url("../images/purple-stripe-bg.png");
	padding: 0;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	margin: 0 0 20px 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

div.careers-hero {
	padding: 20px 20px 30px 20px;
	height: 330px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	background-image: url(../images/careers.jpg);
	background-position: top left;
	background-repeat: no-repeat;
	background-size: cover;
}
div.justified-title {
	margin-left: 500px;
}

h1.invert {
	color: #fff;
}

h2 {
	color: #5a2a82;
	font-size: 26px;
	margin-bottom: 4px;
}
h2.toggle {
	cursor: pointer;
}

h3 {
	color: #AFB3B2;
	font-size: 18px;
	margin-bottom: 3px;
}


div.job-description {
}
div.full-job-description {
	margin-top: 20px;
}


ul {
	display: block;
	margin-left: 40px;
	padding: 0;
}
li {
	border: none;
	list-style-type: disc;
}

div.button-footer {
	text-align: right;
	margin: 8px 0 4px 0;
}

div.complement-divider {
	height: 10px;
	background-image: url(../images/yellow-stripe.png);
	background-position: top left;
	background-repeat: repeat-x;
}

div.flex-row {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	margin: 0;
	padding: 0;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: stretch;
    -moz-align-items: stretch;
    -ms-align-items: stretch;
    align-items: stretch;
}
div.flex-row > div {
	flex: 1 1 50%;
	-webkit-flex: 1 1 50%;
	-moz-flex: 1 1 50%;
	-ms-flex: 1 1 50%;
}

div.flex-row > div:first-child {
	margin: 0 20px 0 15%;
}
div.flex-row > div:last-child {
	margin: 0 15% 0 20px;
}

p {
	margin-top: 30px;
}