

table {
	border-collapse: collapse;
}


/*** common.js elements ***/
div#_shadowOverlay_ {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.9);
	z-index: 100;
}

div#_shadowMessageOverlay_ {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.9);
	z-index: 1000;
}

div#_messageBox_ {
	position: fixed;
	top: 5%;
	left: 50%;
	width: 600px;
	margin-left: -300px;
	background-color: #5B2D82;
	border: none;
	z-index: 1001;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 20px 30px 10px 30px;
}
div#_messageBox_.warning {
	background-color: #FFC52F;
	border: none;
}

div#_messageContainer_ {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 15px;
	color: #fff;
	text-align: center;
}
div#_messageBox.warning div#_messageContainer_ {
	color: #5B2D82;
}

div#_messageButtonContainer_ {
	text-align: center;
	padding: 8px;
	margin: 30px 0px 0px 0px;
	border-top: 1px solid #fff;
}
div#_messageBox.warning div#_messageButtonContainer_ {
	border-top: 1px solid #5B2D82;
}

div#__notificationElement__ {
	position: fixed;
	top: 10px;
	left: 50%;
	width: 400px;
	padding: 12px 16px;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	z-index: 2000;
	margin-left: -200px;
	border-radius: 4px;
	background-color: #5B2D82;
	border: 2px solid #fff;
	color: #fff;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
    -webkit-box-shadow: 0 0 10px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 0 10px 2px rgba(0,0,0,0.3);
    -ms-box-shadow: 0 0 10px 2px rgba(0,0,0,0.3);
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.3);
}


input[type=button], input[type=submit] {
	border: 1px solid #fff;
	border-radius: 18px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 12px;
	background-color: #5B2D82;
	color: #fff;
	padding: 10px 20px;
	cursor: pointer;
}
input[type=button].secondary, input[type=submit].secondary {
	background-color: #FFC52F;
	color: #5B2D82;
}
input[type=button]:hover, input[type=submit]:hover {
	background-color: #FFC52F;
	color: #5B2D82;
}
input[type=button].secondary:hover, input[type=submit].secondary:hover {
	background-color: #5B2D82;
	color: #fff;
}
input[type=button].chevron, input[type=submit].chevron {
	background-image: url(/assets/images/button-chevron.png);
	background-position: calc(100% - 15px) center;
	background-repeat: no-repeat;
	background-size: 17px 18px;
	padding-right: 40px;
}
input[type=button].secondary.chevron, input[type=submit].secondary.chevron {
	background-image: url(/assets/images/button-chevron-hover.png);
	background-position: calc(100% - 15px) center;
	background-repeat: no-repeat;
	background-size: 17px 18px;
	padding-right: 40px;
}
input[type=button].chevron:hover, input[type=submit].chevron:hover {
	background-image: url(/assets/images/button-chevron-hover.png);
}
input[type=button].secondary.chevron:hover, input[type=submit].secondary.chevron:hover {
	background-image: url(/assets/images/button-chevron.png);
}
input[type=button].chevron-reverse, input[type=submit].chevron-reverse {
	background-image: url(/assets/images/button-chevron-reverse.png);
	background-position: 15px center;
	background-repeat: no-repeat;
	background-size: 17px 18px;
	padding-left: 40px;
}
input[type=button].chevron:hover, input[type=submit].chevron:hover {
	background-image: url(/assets/images/button-chevron-hover.png);
}
