.primary-section {
	h2 {
		font-size: 28px;
		color: $brand-primary;
	}
	p {
		font-size: 16px;
		margin-bottom: 20px;
	}
	.col-xs-12:first-child {
		border-bottom: 1px solid $gray-lighter;
		.inner {
			height: 250px;
			padding-top: 16px;
		}
	}
	.col-xs-12:last-child {
		border-top: 1px solid $gray-lighter;
		.inner {
			height: 220px;
			padding-top: 16px;
		}
	}
}
@media (min-width: $screen-sm-min) {
	.primary-section {
		.col-xs-12:first-child {
			.inner {
				height: 200px;
				padding-top: 16px;
			}
		}
		.col-xs-12:last-child {
			.inner {
				height: 200px;
				padding-top: 16px;
			}
		}
	}
}
@media (min-width: $screen-md-min) {
	.primary-section {
		.col-xs-12:first-child {
			border-bottom: none;
			border-right: 1px solid $gray-lighter;
			.inner {
				height: 260px;
				padding-top: 24px;
			}
		}
		.col-xs-12:last-child {
			border-top: none;
			border-left: 1px solid $gray-lighter;
			.inner {
				height: 260px;
				padding-top: 24px;
			}
		}
	}
}
@media (min-width: $screen-lg-min) {
	.primary-section {
		.col-xs-12:first-child {
			.inner {
				height: 240px;
				padding-top: 32px;
			}
			p {
				width: 80%;
			}
		}
		.col-xs-12:last-child {
			.inner {
				height: 240px;
				padding-top: 32px;
			}
		}
	}
}
@media (min-width: $screen-xl-min) {
	.primary-section {
		h2 {
			font-size: 36px;
		}
		p {
			font-size: 20px;
			margin-bottom: 30px;
		}
		.col-xs-12:first-child {
			.inner {
				height: 340px;
				padding-top: 50px;
			}
		}
		.col-xs-12:last-child {
			.inner {
				height: 340px;
				padding-top: 50px;
			}
		}
	}
}
@media (min-width: $screen-xxl-min) {
	.primary-section {
		h2 {
			font-size: 36px;
		}
		p {
			font-size: 20px;
			margin-bottom: 30px;
		}
		.col-xs-12:first-child {
			.inner {
				height: 320px;
				padding-top: 50px;
			}
		}
		.col-xs-12:last-child {
			.inner {
				height: 320px;
				padding-top: 50px;
			}
		}
	}
}



.secondary-section {
	h2 {
		font-size: 28px;
		width: 80%;
		margin: 0 auto;
		color: $brand-primary;
	}
	p {
		font-size: 16px;
		margin-top: 10px;
		margin-bottom: 0;
	}
	.btn {
		margin-top: 25px;
	}
	.inner {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.middle {
		border-top: 2px solid $gray-lighter;
		border-bottom: 2px solid $gray-lighter;
	}
}
@media (min-width: $screen-sm-min) {
	.secondary-section {
		h2 {
			width: 100%;
		}
	}
}
@media (min-width: $screen-md-min) {
	.secondary-section {
		.inner {
			padding-top: 60px;
			padding-bottom: 50px;
		}
		.middle {
			border-top: none;
			border-left: 2px solid $gray-lighter;
			border-bottom: none;
			border-right: 2px solid $gray-lighter;
			.custom-button {
				margin-top: 24px;
			}
		}
	}
}
@media (min-width: $screen-lg-min) {
	.secondary-section {
		h2 {
			font-size: 30px;
			width: 80%;
			margin: 0 auto;
		}
		p {
			margin-top: 10px;
		}
		.btn {
			margin-top: 25px;
		}
		.inner {
			padding-top: 50px;
			padding-bottom: 50px;
		}
	}
}
@media (min-width: $screen-xl-min) {
	.secondary-section {
		p {
			margin-top: 10px;
		}
		.btn {
			margin-top: 25px;
		}
		.inner {
			padding-top: 50px;
			padding-bottom: 60px;
		}
		.custom-button {
			p {
				margin-top: 24px;
				margin-bottom: 26px;
			}
		}
	}
}
@media (min-width: $screen-xxl-min) {
	.secondary-section {
		h2 {
			font-size: 36px;
		}
		p {
			font-size: 18px;
			margin-top: 10px;
		}
		.btn {
			margin-top: 25px;
		}
		.inner {
			padding-top: 50px;
			padding-bottom: 50px;
		}
	}
}



.parallax {
	border-top: 6px solid $brand-secondary;
	height: 200px;
	h4 {
		font-family: $font-family-cursive;
		font-style: italic;
		font-size: 32px;
		color: $white;
		text-shadow: 0 0 5px rgba(0,0,0,0.5);
	}
	.inner {
		padding-top: 32px;
	}
}
@media (min-width: $screen-sm-min) {
	.parallax {
		.inner {
			padding-top: 48px;
		}
	}
}
@media (min-width: $screen-md-min) {
	.parallax {
		h4 {
			font-size: 28px;
		}
		.inner {
			padding-top: 75px;
		}
	}
}
@media (min-width: $screen-lg-min) {
	.parallax {
		border-top: 8px solid $brand-secondary;
		h4 {
			font-size: 36px;
		}
		.inner {
			padding-top: 70px;
		}
	}
}
@media (min-width: $screen-xl-min) {
	.parallax {
		h4 {
			font-size: 40px;
		}
		.inner {
			padding-top: 65px;
		}
	}
}