.nexsense-system {
	text-align: center;
	h2 {
		font-size: 30px;
		color: $brand-primary;
	}
	p {
		font-size: 18px;
		margin-bottom: 20px;
	}
	.more-than-an-alarm {
		background: url('images/hero-yellow-bg.png') no-repeat center center $brand-secondary;
		background-size: cover;
		h1 {
			font-size: 36px;
			color: $white;
			margin-bottom: 0;
		}
		p {
			color: $brand-primary;
			font-size: 18px;
			margin-bottom: 16px;
		}
		.inner {
			padding-top: 10px;
			padding-bottom: 20px;
		}
	}
	.product-sub-section {
		.inner {
			padding-top: 20px;
			padding-bottom: 40px;
		}
	}
	.image {
		height: 200px;
	}
}
@media (min-width: $screen-sm-min) {
	.nexsense-system {
		.image {
			height: 240px;
		}
	}
}
@media (min-width: $screen-md-min) {
	.nexsense-system {
		text-align: left;
		.more-than-an-alarm {
			h1 {
				font-size: 48px;
			}
			.inner {
				padding-top: 30px;
				padding-bottom: 40px;
			}
		}
		.product-sub-section {
			.inner {
				padding-top: 50px;
			}
			p {
				width: 90%;
			}
		}
		.image {
			height: 405px;
		}
	}
}
@media (min-width: $screen-lg-min) {
	.nexsense-system {
		.product-sub-section {
			.inner {
				padding-top: 70px;
			}
		}
	}
}
@media (min-width: $screen-xl-min) {
	.nexsense-system {
		.product-sub-section {
			.inner {
				padding-top: 80px;
			}
		}
	}
}
@media (min-width: $screen-xxl-min) {
	.nexsense-system {
		.product-sub-section {
			.inner {
				padding-top: 90px;
			}
		}
	}
}